/* .Keyboard {
  background-color: #D0021B;
  border: 1px solid #9E0215;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
}

.Wordlist {
  font-family: 'Fredericka the Great', cursive;
  font-size: 7vw;
  } */

button {
  background-color: #D0021B;
  border: 1px solid #9E0215;
  border-radius: 10px;
  color: #fff;
  padding: 10px 30px;

}

li {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1vw;
  text-align: center;
}
