* {
  background-color:#978484 ;
}

.title {
    font-size: 10vw;
    text-decoration: underline;
    text-decoration-color: red;
    text-shadow: 1px 1px 10px black;
    color: red;
    text-align: center;

}

h2 {
  font-size: 5vw;
  text-decoration: underline;
  text-decoration-color: red;
  text-shadow: 1px 1px 10px black;
  color: white;
  text-align: center;
}

h3 {
  font-size: 5vw;
  text-shadow: 1px 1px 10px black;
  color: white;
  text-align: center;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   /* position: absolute; */
   clip: rect(0px,60px,20px,0px);

}

label {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* img {
    position: absolute;
    clip: rect(0px,60px,200px,0px);
} */
